@mixin text-title-1 {
  font-family: var(--font-text-black);
  font-size: 6rem;
  line-height: 1.04;
}

@mixin text-title-2 {
  font-family: var(--font-text-black);
  font-size: 5rem;
  line-height: 1.04;
}

@mixin text-title-3 {
  font-family: var(--font-text-black);
  font-size: 4rem;
  line-height: 1.04;
}

@mixin text-title-4 {
  font-family: var(--font-text-bold);
  font-size: 3.5rem;
  line-height: 1.04;
}

@mixin text-title-5 {
  font-family: var(--font-text-bold);
  font-size: 3rem;
  line-height: 1.04;
}

@mixin text-title-6 {
  font-family: var(--font-text-bold);
  font-size: 2.25rem;
  line-height: 1.04;
}

@mixin text-featured-1 {
  font-family: var(--font-text-regular);
  font-size: 2rem;
  line-height: 1.25;
}

@mixin text-featured-2 {
  font-family: var(--font-text-regular);
  font-size: 1.5rem;
  line-height: 1.33;
}

@mixin text-featured-3 {
  font-family: var(--font-text-regular);
  font-size: 1.25rem;
  line-height: 1.4;
}

@mixin text-body-1 {
  font-family: var(--font-text-regular);
  font-size: 1.125rem;
  line-height: 1.33;
}

@mixin text-body-2 {
  font-family: var(--font-text-regular);
  font-size: 1rem;
  line-height: 1.5;
}

@mixin text-body-2 {
  font-family: var(--font-text-regular);
  font-size: 0.875rem;
  line-height: 1.42;
}

@mixin text-caption-1 {
  font-family: var(--font-text-regular);
  font-size: 0.75rem;
  line-height: 1.33;
}

@mixin text-caption-2 {
  font-family: var(--font-text-regular);
  font-size: 0.625rem;
  line-height: 1.2;
}