.m-accordion {
  width: 100%;

  summary {
    background-color: var(--foreground-neutral-faded);
  }

  .m-accordion__toggle-icon {
    flex-shrink: 0;
    margin-left: auto;
  }

  &[open] {
    & > summary .m-accordion__toggle-icon {
      transform: rotate(90deg);
    }
  }
}

.m-accordion__content {
  // Icon size (20px => base-space-5) + gap (base-space-2) => base-space-7
  padding-inline-start: calc(var(--base-space-7) / 2);
  margin-inline-start: calc(var(--base-space-7) / 2);
  border-inline-start: 1px solid var(--border-neutral-faded);
}