.m-accordion {
  summary {
    background-color: var(--foreground-neutral-faded);
  }

  .m-accordion__toggle-icon {
    margin-left: auto;
  }

  &[open] {
    & > summary .m-accordion__toggle-icon {
      transform: rotate(90deg);
    }
  }
}