.m-folder {
  --background-color: transparent;
  --background-color-selected: color-mix(in srgb, var(--background-neutral), transparent 32%);

  width: 100%;

  svg {
    flex-shrink: 0;
  }
  
  :is(button, summary) {
    width: 100%;
    height: var(--base-space-8);
    padding-left: var(--base-space-2);
    padding-right: var(--base-space-2);
    background-color: var(--background-color);
    border: none;
    color: var(--foreground-neutral);
    border-radius: var(--radius-small);

    &:hover {
      cursor: pointer;
      --background-color: var(--background-color-selected);
    }
  }

  &.is-selected {
    & > details > summary,
    & > button {
      --background-color: var(--background-color-selected);
    }
  }
}

.m-folder__name {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}